
    html {
        background-color: blueviolet;
        color: white;
        margin-left: 40%;
        margin-top: 1%;
    }


#main {

    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    
}

.whoIs {
    width: 700px;
    font-weight: 800;
    font-size: x-large;
    margin-bottom: 1%;
    
}

.divs {
    font-size: 155px;
    padding-left: 10px; 
    padding-right: 10px;  
    text-align:  center;
    border: 3px solid black;
    padding: 5px 10px 5px 5px;
    width: 28%;
}


.buttonHolder {
    margin-top: 30px;
    margin-left: 70px;
}

button {
    background-color: white;
    font-size: x-large;
}

.winAnnounce {
    font-size: x-large;
}

